version: "3"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_dw
    ports:
      - "5432:5432"
  app:
    build: .
    depends_on:
      - postgres
